<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071337053045-78btqgjsr0vg8fsa5la988v0bg6v5nc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071337053045-78btqgjsr0vg8fsa5la988v0bg6v5nc9</string>
	<key>API_KEY</key>
	<string>AIzaSyB4AHmrgxGssuwoJOBIQbhn3o3I707S2QY</string>
	<key>GCM_SENDER_ID</key>
	<string>1071337053045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shax.ShoppingAdmin</string>
	<key>PROJECT_ID</key>
	<string>shop-155e7</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-155e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071337053045:ios:209f04893599678209913c</string>
	<key>DATABASE_URL</key>
	<string>https://shop-155e7.firebaseio.com</string>
</dict>
</plist>